<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tire de la page WEB-->
    <title>@ViewData["Title"] - ProjetPompier_AppWeb</title>
    <!-- Liens de la css et des styles-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetPompier_AppWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Barre de navigation dans l'application WEB-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Lien vers la liste des casernes, l'accueil de notre application -->
                <a class="navbar-brand" asp-area="" asp-controller="Caserne" asp-action="Index">Gestion Pompier</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Lien vers la liste des casernes -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Caserne" asp-action="Index">Caserne</a>
                        </li>
                        <!-- Lien vers la liste des grades -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Grade" asp-action="Index">Grade</a>
                        </li>
                        <!-- Lien vers la liste des pompiers -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pompier" asp-action="Index">Pompier</a>
                        </li>
                        <!-- Lien vers la liste des interventions -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Intervention" asp-action="Index">Intervention</a>
                        </li>
                        <!-- Lien vers la liste des véhicules -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicule" asp-action="Index">Véhicule</a>
                        </li>
                        <!-- Lien vers la liste des types de véhicules -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TypeVehicule" asp-action="Index">Type de véhicule</a>
                        </li>
                        <!-- Lien vers la liste des types d'intervention -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TypeIntervention" asp-action="Index">Type d'intervention'</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <!--Auterus du projet-->
            &copy; 2024 - ProjetPompier_AppWeb - Vincent Bouchard, Lyes Hamrani, Quentin Lecourt
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
