@using ProjetPompier_AppWeb.Logics.Models
@model GradeDTO;
@* Si erreur du côté serveur... affichage du message d'erreur... *@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <div class="alert alert-danger">@ViewBag.MessageErreur</div>
}
else
{
    <br />
    <h3>Modifier grade : </h3>
    <hr />
    @* Formulaire qui, lorsqu'il est exécuté, appelle la méthode ModifierGrade du controleur GradeController *@
    <form asp-controller="Grade" asp-action="ModifierGrade" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input id="descriptionAvantChangement" name="descriptionAvantChangement" value="@ViewBag.descriptionAvantChangement" type="hidden">
                    <input type="submit" class="btn btn-primary" value="Modifier" />
                    <input type="button" class="btn btn-danger" value="Annuler" onclick="history.back();" />
                </div>
            </div>
        </div>
    </form>
}