@using ProjetPompier_AppWeb.Logics.Models
@model TypeInterventionDTO;
@* Si une erreur est detecté,  on l'affiche... *@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erreur!</strong> @ViewBag.MessageErreur .
    </div>
}
else
{
    <br />
    <h3>Modifier le type d'intervention : </h3>
    <hr />
    @* Formulaire qui, lorsqu'il est exécuté, appelle la méthode ModifierTypeIntervention du controleur TypeInterventionController *@
    <form asp-controller="TypeIntervention" asp-action="ModifierTypeIntervention" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    @*Affichage du du véhicule, NON-MODIFIABLE*@
                    <div class="form-group">
                        <label asp-for="Code" class="control-label">Code de l'intervention :</label>
                        <input asp-for="Code" class="form-control" readonly />
                    </div>

                    @*Affichage et modification de la description de l'intervention, MODIFIABLE*@
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description de l'intervention :</label>
                        <input asp-for="Description" class="form-control" required />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @*Bouton pour la validation des modification*@
                    <input type="submit" class="btn btn-primary" value="Modifier" />
                    @*Bouton pour un retour en arriere*@
                    <input type="button" class="btn btn-danger" value="Annuler" onclick="history.back();" />
                </div>
            </div>
        </div>
    </form>
}
